* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-color: #211951;
    text-align: center;

}

h1 {
    color: white;
    margin-top: 2rem;
}

.container {
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.game {
    height: 60vh;
    width: 60vh;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5vmin;
}

.box {
    height: 18vmin;
    width: 18vmin;
    font-size: 2.5rem;
    font-weight: bold;
    border: none;
    border-radius: 1rem;
    background-color: #836FFF;
    color: #15F5BA;
}

#resetBtn {
    height: 8vmin;
    width: 18vmin;
    background-color: #15F5BA;
    color: #211951;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
}

#resetBtn i {
    font-size: 1.3rem;
}

#resetBtn:hover {
    cursor: pointer;
}

@keyframes fadeIn {
    from { opacity: 0}
    to {opacity: 1}
}

.msgBoxContainer {
    height: 100vh;
    width: 100%;
    background-color: rgba(33, 25, 81, 0.95);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.5s;
}


#msg {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 5vmin;
    color: #15F5BA;
}

#newGameBtn {
    height: 8vmin;
    width: 24vmin;
    background-color: #15F5BA;
    color: #211951;
    font-size: 1.5rem;
    border: none;
    border-radius: 1rem;
}

#newGameBtn:hover {
    cursor: pointer;
}

.hide {
    display: none;
}
